@import "./styles.css";

#overview-container {
    display: flex;
    height: 100vh;
    overflow-x: auto;
}

#overview-container.group-view-mode {
    overflow-x: hidden;
}

#overview-container.group-view-mode .window-view {
    width: 100%;
    border-right: none;
}


.window-view {
    width: 350px;
    flex-shrink: 0;
    height: 100%;
    border-right: 2px solid var(--gruvbox-border-2);
    display: flex;
    flex-direction: column;
}

.window-view-header {
    padding: 0.5rem;
    font-weight: bold;
    font-size: 1.1rem;
    background-color: var(--gruvbox-hover-accent);
    color: var(--gruvbox-fg);
    flex-shrink: 0;
    text-align: center;
}

.window-view-content {
    flex-grow: 1;
    overflow-y: hidden;
}

.action-page-container {
    @apply w-full h-full flex flex-col items-center justify-center p-8 text-center;
    color: var(--gruvbox-fg);
}

.action-page-title {
    @apply text-2xl font-bold mb-4;
}

.action-page-description {
    @apply text-lg mb-8;
}

.action-page-button {
    @apply px-6 py-3 rounded-md text-lg font-semibold;
    background-color: var(--gruvbox-blue);
    color: var(--gruvbox-bg);
    border: none;
    cursor: pointer;
    transition: background-color 0.2s;
}

.action-page-button:hover {
    background-color: #a9b665;
}
