@import "./styles.css";

#overview-container {
    display: flex;
    height: 100vh;
    overflow-x: auto;
    background-color: #1d2021; /* gruvbox darker bg */
}

.window-view {
    width: 350px;
    min-width: 300px;
    flex-shrink: 0;
    height: 100%;
    border-right: 2px solid var(--gruvbox-border-2);
    display: flex;
    flex-direction: column;
}
